<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <title>CV - Miruna</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="profile">
      <h1>Miruna Stanescu</h1>
      <img
        src="static/miruna.jpg"
        alt="Fotografie Miruna"
        class="profile-pic"
      />
      <p class="subtitle"><strong>Studentă</strong></p>
    </div>

    <section>
      <h2>Date personale</h2>
      <ul>
        <li><strong>Nume:</strong> Miruna Stanescu</li>
        <li><strong>Data nașterii:</strong> 12.08.2003</li>
        <li><strong>Adresa:</strong> București, România</li>
      </ul>
    </section>

    <section>
      <h2>Educație</h2>
      <ul>
        <li>2022 - Prezent: Automatică și Calculatoare</li>
        <li>2018 - 2022: Colegiul Național Tudor Vianu</li>
      </ul>
    </section>

    <section>
      <h2>Experiență</h2>
      <ul>
        <li>2024 - 2025: Intern Full-Stack Developer</li>
      </ul>
    </section>

    <section>
      <h2>Abilități</h2>
      <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>Python, Java</li>
        <li>Comunicare, lucru în echipă</li>
      </ul>
    </section>

    <section>
      <h2>Contact</h2>
      <ul>
        <li>
          <strong>Email:</strong>
          <a href="mailto:miruna.stanescu12@gmail.com"
            >miruna.stanescu12@gmail.com</a
          >
        </li>
        <li><strong>Telefon:</strong> +40 774 621 904</li>
        <li>
          <strong>LinkedIn:</strong>
          <a
            href="https://www.linkedin.com/in/miruna-ioana-stanescu-71343b262/"
            target="_blank"
          >
            linkedin.com/in/miruna-ioana-stanescu
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
